.sr-port{
    margin-top: 4px;
    min-width: 12px;
    height: 16px;
    z-index: 10;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
    float: right;
    margin-left: 2px;
}
.sr-port-connect{
    max-width: 100px;
    width: fit-content;
    float: right;
}

.disconnect{
    background: rgba(83, 83, 85, 0.781);
}

.connect{
    background: rgba(135, 218, 135, 0.281);
}

.sr-port:hover {
    background: rgba(167, 89, 16, 0.753);
}

.sr-port-block{
    margin-left: 4px;
    min-width: 200px;
    font-size: 11pt;
    font-family: Courier, monospace !important;
}

.sr-port-label{
    max-width: 80px;
}

.sr-block-tipo{
    background-color: rgba(158, 145, 145, 0.534);
    padding: 2%;
    font-size: 9pt;
}

.sr-node{
    box-sizing: border-box;
    white-space: nowrap;
    pointer-events: all;
    background-color: hsla(192, 20%, 95%, 0.705);
    color: white;
    border-radius: 1px;
    border: black solid 1px;
    max-width: 100%;
}

.sr-node-title{
    background: rgba(2, 2, 2, 0.671); 
    text-align: left;
    max-width: 250px;
}
.sr-node-subtitle{
    background: rgba(0,0,0,0.3);
    text-align: left;
    font-weight: bolder;
    font-size:10pt;
    color: rgb(250, 246, 246);
    border: black solid 0px;
    padding: 1px;
}

.sr-input{
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: bolder;
    padding: 4px;
    font-size: 12pt;
    max-width: 120px;
}

.btn-save{
    margin-right: 2px;
    float: right;
    max-height: 48px;
   min-width: 48px;
   padding: 2px;
}

.btn-active{
   cursor: allowed;
   pointer-events: all;
   background-color: rgba(69, 163, 50, 0.678);
}
.btn-active:hover{
    background-color: rgba(11, 88, 151, 0.664);
}

.btn-disabled{
    cursor: not-allowed;
    pointer-events: none;
    background-color: rgba(55, 56, 49, 0.753);
}

.to-drag{
    height: 6px;
   background-color: rgb(2, 35, 54) ;
}

.btn-delete{
    margin-right: 2px;
    margin-top: -1px;
    max-height: 22px;
   max-width: 20px;
   padding: 1px;
   background-color: transparent;
   border:0;
   color: rgba(247, 140, 113, 0.753);
}

.btn-delete:hover{
    color: red;
    background-color: transparent;
}

.icon-off{
    height: 22px;
    margin-top: 0px;
    color: rgb(245, 248, 245);
    padding-top: 0;
    cursor: pointer;
    float: right;
}

.icon-on{
    height: 22px;
    margin-top: 0px;
    color: rgb(245, 248, 245);
    padding-top: 0;
    cursor: pointer;
    float: right;
}

.chk-entity{
    margin: 1px;
    max-height: 20px;
    display: inline-block;
    text-align: center; 
    vertical-align: middle
}