.div_middle{
    width: 50%;
    min-width: 8px;
    margin-left: 1px;
    float: left;
}

.picker-div{
    max-width: 125px;
}

.div-pick-container{
    width: auto;
}

.div-pick-timer-container{
    display: inline-flex;
}
.div_pick-timer-middle{
    float: left;
}

.picker-timer-div{
    min-width: 140px;
    float: left;
}