.source-container{
    margin-top: 25px;
}

.test-manual-btn{
    margin-top: -5px;
    margin-left: 10px;
}

.btn-date-fixed{
    max-height: 38px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -5px;
}